@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;

    --card-background: hsl(0, 0%, 100%);
    --page-background: hsl(212, 45%, 89%);
    --textp: hsl(220, 15%, 55%);
    --texth1: hsl(218, 44%, 22%);

    font-family: 'Outfit';

    font-size: 16px;
}

body {
    width: 100vw;
    height: 100vh;

    background-color: var(--page-background);

    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    /* width: 80vw; */
    width: 335px;
    /* height: 80vh; */
    height: 520px;
    background-color: var(--card-background);

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

    border-radius: 15px;
}

.qr-code-section img {
    width: 300px;

    margin-top: 17px;
    border-radius: 15px;
}

.text {
    width: 100%;
}

.text h1 {
    color: var(--texth1);
    font-size: 1.6rem;

    text-align: center;

    margin: 15px 20px;
}

.text p {
    color: var(--textp);
    font-size: 1rem;

    text-align: center;

    margin: 0 40px;
}

